advanced_workflow.json
{
  "name": "Advanced Multi-Channel Notification Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "0fa245b3-0a32-405b-afcf-362909c9fc7b",
      "name": "Start Trigger",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        100
      ]
    },
    {
      "parameters": {
        "path": "webhook-trigger"
      },
      "id": "e7ece81a-f35a-4a05-b8d9-58ee1b29f907",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jsonplaceholder.typicode.com/posts/1"
      },
      "id": "9ed28722-8ff4-4688-be45-037c123491fc",
      "name": "API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        150
      ]
    },
    {
      "parameters": {
        "options": {
          "fields": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "userId",
              "value": "={{ $json.userId }}"
            },
            {
              "name": "status",
              "value": "={{ $json.id > 50 ? 'high' : 'normal' }}"
            }
          ]
        }
      },
      "id": "bb1fd27a-f297-4dca-a06c-cc0cefdf9fe2",
      "name": "Process Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        750,
        150
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "high"
            }
          ]
        }
      },
      "id": "b687bf13-e0f6-4725-bcce-f0fdec3b26fb",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1000,
        150
      ]
    },
    {
      "parameters": {
        "chatId": "123456789",
        "text": "New post: {{ $json.title }}"
      },
      "id": "f28dcee1-4544-45df-b01f-1a21c145d38e",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1200,
        100
      ]
    },
    {
      "parameters": {
        "webhookUri": "https://discord.com/api/webhooks/...",
        "text": "New post: {{ $json.title }}"
      },
      "id": "ab576341-87e7-489e-9d1d-3495b1bba4de",
      "name": "Discord Notification",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "to": "admin@example.com",
        "subject": "New Post Created",
        "text": "A new post was created: {{ $json.title }}"
      },
      "id": "44a1e2b1-b111-404a-a13a-c9597a1939ac",
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1BxiMVs0XRAflZpRnAIrX4Hf7pZuDzXwJ7pLd0V2A",
        "worksheetId": "Sheet1"
      },
      "id": "cc0057ad-2ee4-4bd5-83cf-c8eb32186075",
      "name": "Log to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        1400,
        150
      ]
    }
  ],
  "connections": {
    "Start Trigger": {
      "main": [
        [
          {
            "node": "API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Request": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Notification": {
      "main": [
        [
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Notification": {
      "main": [
        [
          {
            "node": "Log to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "placeholder_version_id"
}