demo_simple_workflow.json
{
  "name": "Simple Demo Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "7d44cf40-83fd-47b2-83fd-82c3d7fd9c6b",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jsonplaceholder.typicode.com/posts/1"
      },
      "id": "d7765bf1-5a42-411a-afea-696da0ef4f83",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "123456789",
        "text": "New post: {{ $json.title }}"
      },
      "id": "619939e7-f486-4a46-a026-537874b16c02",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "placeholder_version_id"
}