example_workflow.json
{
  "name": "My Example Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "080246c6-0629-49b3-be7b-deced3ae0d15",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://jsonplaceholder.typicode.com/posts/1"
      },
      "id": "77d642eb-3c50-4644-a6b0-f5886be00a98",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "123456789",
        "text": "New post: {{ $json.title }}"
      },
      "id": "b8a244e1-8212-4bf2-9f0b-26b6d13ec19c",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "placeholder_version_id"
}